*{
    margin: 0px;
    box-sizing: border-box;
}
/*reset*/

#header{
    height: 175px;
    background-color: rgb(76, 168, 255);
    background-image: url(../img/pattern.png);
}

.container{
    height: inherit;
}

.logo{
    height: 75px;
    margin-top: 100px;
    margin-left: 10px;
}
/* header */

.header_section{
    margin: 10px;
}

h1{
    font-size: 60px;
}

.autor{
    font-size: 30px;
    color: gray;
    font-weight: bold;
}

strong{
    color: rgb(0, 179, 255);
}

.date{
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

.imgs{
    margin-top: 20px;
}
